<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>ola world</h1>

  <div class="card-de-compra">
    <a href="/produtos">
    <img src="/camisa.jpg" class="imagen-de-card">
    <h2>titulo do </h2 class="tiutlo-de-card">
    <h2>preço </h2 class="preço-de-card">
  </a>
</div>
  
<div class="card-de-compra">
  <a href="/produtos">
  <img src="/camisa.jpg" class="imagen-de-card">
  <h2>titulo do </h2 class="tiutlo-de-card">
  <h2>preço </h2 class="preço-de-card">
</a>
</div>

<div class="card-de-compra">
  <a href="/produtos">
  <img src="/camisa.jpg" class="imagen-de-card">
  <h2>titulo do </h2 class="tiutlo-de-card">
  <h2>preço </h2 class="preço-de-card">
</a>
</div>

<div class="card-de-compra">
  <a href="/produtos">
  <img src="/camisa.jpg" class="imagen-de-card">
  <h2>titulo do </h2 class="tiutlo-de-card">
  <h2>preço </h2 class="preço-de-card">
</a>
</div>

<div class="card-de-compra">
  <a href="/produtos">
  <img src="/camisa.jpg" class="imagen-de-card">
  <h2>titulo do </h2 class="tiutlo-de-card">
  <h2>preço </h2 class="preço-de-card">
</a>
</div>

<div class="card-de-compra">
  <a href="/produtos">
  <img src="/camisa.jpg" class="imagen-de-card">
  <h2>titulo do </h2 class="tiutlo-de-card">
  <h2>preço </h2 class="preço-de-card">
</a>
</div>

</body>
</html>