<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">
</head>
<body>
  
    <body>
      <h1>Venum store</h1>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#news">Novidades</a></li>
      <li><a href="#contact">Contato</a></li>
      <li style="float:right"><a class="active" href="#about">Sobre</a></li>
    </ul>
<br>

  <% for (let produto of produtos) {%>
  <div class="card-de-compra">
    <a href="/produtos">
    <img src="/imagens/<%= produto.imagem %>" class="imagen-de-card">
    <h2><%= produto.titulo%> </h2 class="titulo-de-card">
    <h2><%= produto.preco%> </h2 class="preço-de-card">
    <div class="centralizar">
      <a class="botao" href="/produtos/<%= produto.id %>">comprar</a>
    </div>
  </a>
</div>

<% } %>

<h5>@2023 venenum - Alanzinho</h5>
  
</body>
</html>

