<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Venum Store</h1>
  
  <div class="divi-nova">
    <div class="card-de-exibiçao">
        <div>
            <img src="/imagens/<%= produto.imagem %>" class="imagem-de-card-de-exibicao">
        </div>
        <div>
            <h2>titulo do </h2 class="">
            <h3></h3 class="divi-da-descricao">
            <h2>preço: </h2>
            <h2 class="preço-de-card-de-exibiçao">R$ 100.00 </h2>
            <h2>descrição:</h2>
            <h3><%= produto.descricao%></h3>
            <a class="botao2" href="/produtos/<%= produto.id %>">comprar</a>
        </div>
    </div>
  </div>

  <h5>2023-@venenum my store</h5>

</body>
</html>

