html {
  background-color: rgba(0, 0, 0, 0.961);
}

h1 {
    text-align: center;
    font-family:'Bruno Ace', sans-serif;
}
h2 {
  color: black;
  text-align: center;
  font-family:'Bruno Ace', sans-serif;
}
h5 {
 text-align: center;


}
.divi-nova{
  display:flex;
  justify-content: center;
}
.card-de-exibiçao {
  display: flex;
  border: 1px solid #000;
  border-width: 7px;
  border-color: rgb(245, 237, 237);
  border-radius: 10px;
  height: 650px;
  width:1150px ;
  background-color:rgb(219, 218, 219)
  
  
}
.imagem-de-card-de-exibicao {
  border-radius: 10px;
  border-width: 7px;
  border-color: rgb(255, 255, 255);
  width: 645px
  
 }
 .divi-da-descricao{
  display: flex;
 
 }

.card-de-compra {
  display:inline-block;
  border: 1px solid #000;
  border-width: 7px;
  border-color: rgb(232, 232, 232);
  border-radius: 10px;
  height: 380px;
  width:280px ;
  background-color:rgb(255, 255, 255);
  align-items:center;
  
}
.imagen-de-card {
 border-radius: 10px;
 width: 200px;
 
}

.card-de-compra2 {
  display:inline-block;
  border: 1px solid #000;
  border-width: 7px;
  border-color: black;
  border-radius: 10px;
  height: 350px;
  width:250px ;
  background-color:rgb(219, 218, 219)
  
}
.centralizar{
  text-align: center;
 
}
.botao {
  border-radius: 10px;
  background-color: chartreuse;
  border: 5px solid #000;
}
.preco-de-card{
  text-align: center;
  font-family:'Bruno Ace', sans-serif;
}