ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

html {
  background-color: rgba(0, 0, 0, 0.961);
}

h1 {
    text-align:left;
    font-family:'Bruno Ace', sans-serif;
    color: rgb(251, 249, 249)
}
h2 {
  color: black;
  text-align: center;
  font-family:'Bruno Ace', sans-serif;
}
h5 {
 text-align: center;


}
.divi-nova{
  display:flex;
  justify-content: center;
}
.card-de-exibiçao {
  display: flex;
  border: 1px solid #000;
  border-width: 7px;
  border-color: rgb(245, 237, 237);
  border-radius: 10px;
  height: 650px;
  width:1150px ;
  background-color:rgb(219, 218, 219)
  
  
}
.imagem-de-card-de-exibicao {
  border-radius: 10px;
  border-width: 7px;
  border-color: rgb(255, 255, 255);
  width: 645px
  
 }
 .divi-da-descricao{
  display: flex;
 
 }

.card-de-compra {
  display:inline-block;
  border: 1px solid #000;
  border-width: 7px;
  border-color: rgb(232, 232, 232);
  border-radius: 10px;
  height: 380px;
  width:290px ;
  background-color:rgb(255, 255, 255);
  align-items:center;
  
}
.imagen-de-card {
 border-radius: 10px;
 width: 200px;
 
}

.card-de-compra2 {
  display:inline-block;
  border: 1px solid #000;
  border-width: 7px;
  border-color: black;
  border-radius: 10px;
  height: 350px;
  width:250px ;
  background-color:rgb(219, 218, 219)
  
}
.centralizar{
  text-align: center;
 
}
.botao {
  border-radius: 10px;
  background-color: chartreuse;
  border: 5px solid #000;
  height: 50px;
  width:100px ;
  font-family:'Bruno Ace', sans-serif;
}
.preco-de-card{
  text-align: center;
  font-family:'Bruno Ace', sans-serif;
}